/* add primary color pink/violet */
:root {
  --primary-color: #b308a5;
  --secondary-color: #f0f0f0;
  --shadow-color: #d8d8d8;

}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--shadow-color);
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--shadow-color);
  margin-bottom: .5rem;
  padding: 0 1rem; /* Add some padding */
  position: relative; /* Create a positioning context */
}

.nav-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}

.base { 
  min-height: 100vh;           /* Ensure full viewport height */
  background-image: var(--bg-image); /* Use the variable for background image */
  background-size: cover;      /* Makes the image cover the whole area */
  background-position: center; /* Centers the image */
  background-image: linear-gradient(rgba(255, 255, 255, 0.733), rgba(255, 255, 255, 0.733)), var(--bg-image);
  background-repeat: no-repeat; /* Prevents tiling */
  background-attachment: fixed; /* Optional: keeps background fixed on scroll */
  margin: 0;
}

.content {
  padding:  0 1rem;
  margin : 0;

}

.gallery-link {
  /*Make it so that gallery-link and the rest of the links are centered while logo link is still of the left*/
  display: inline-block;
  text-align: center;
}

.pictureCard {
  border: 6px solid #b308a5;
  border-radius:6px;
  overflow: hidden;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.1);
  background-color: var(--primary-color);

  
}

.pictureCard img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 3px;
  }


.picturesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}