/* add primary color pink/violet */
:root {
  --primary-color: #b308a5;
  --secondary-color: #f0f0f0;


.pictureCard {
  border: 6px solid #b308a5;
  border-radius:6px;
  overflow: hidden;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.1);
  background-color: var(--primary-color);

  
}

.pictureCard img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 3px;
  }


.picturesGrid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 1rem;
}