/* add primary color pink/violet */
:root {
  --primary-color: #ff27a9;
  --secondary-color: #a00160;
  --shadow-color: #ffb3e0;
  --overlay-opacity: 0.733; /* Adjusted for overlay effect */
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 4px solid var(--secondary-color);
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .5rem;
  padding: 0 1rem; /* Add some padding */
  position: relative; /* Create a positioning context */
}

.nav-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}

.layout { 
  min-height: 100vh;           /* Ensure full viewport height */
  margin: 3.5rem 0 0; /* Adjust for fixed navbar height */

}

.content {
  padding: 1rem; /* Center the content */
}


.gallery-link {
  /*Make it so that gallery-link and the rest of the links are centered while logo link is still of the left*/
  display: inline-block;
  text-align: center;
}

.picture-card {
  border-radius:6px;
  overflow: hidden;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.1);
  border: 8px solid var(--secondary-color);
  background-color: var(--secondary-color);
  
}

.picture-card img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 3px;
  }


.pictures-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}