---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  Placeholder for the home page content.
  <p>Welcome to Beauty SH!</p>
  <p>Explore our gallery of beautiful nail designs.</p>
</Layout>
