---
import Layout from '../layouts/Layout.astro';
---

<Layout className="layout-home" backgroundImage="/background-main.jpeg">
  <p>Welcome to Beauty SH!</p>
  <p>Explore our gallery of beautiful nail designs.</p>
</Layout>
