---
import Layout from '../layouts/Layout.astro';
import { getImage } from 'astro:assets';
import backgroundImageSrc from '../assets/Image (44).jpeg';
const backgroundImage = await getImage({ src: backgroundImageSrc });
---

<Layout class="homeLayout" backgroundImage={backgroundImage.src}>
  <p>Welcome to Beauty SH!</p>
  <p>Explore our gallery of beautiful nail designs.</p>
</Layout>
