---
import Layout from '../layouts/Layout.astro';
import backgroundMain from '../assets/background_images/background-main.jpeg';
---

<Layout>
  <p>Welcome to Beauty SH!</p>
  <p>Explore our gallery of beautiful nail designs.</p>
</Layout>
