---
import Layout from "../layouts/Layout.astro";
import PriceEstimator from "../components/PriceEstimator.astro";
import "../styles/pages/services.css";
---

<Layout title="Servicios | Estimador de Precios">
    <main class="services-page">
        <header class="services-header">
            <h1>Nuestros Servicios</h1>
            <p>
                Selecciona los servicios que deseas para obtener un presupuesto
                personalizado.
            </p>
        </header>

        <PriceEstimator />
    </main>
</Layout>
