---
import "../styles/components/footer.css";
---

<footer class="site-footer">
    <div class="footer-content">
        <div class="footer-info">
            <div class="info-item">
                <span class="icon">📍</span>
                <span class="text">Orem, UT</span>
            </div>
            <div class="info-item disclaimers">
                <span class="text">✖ Acrylic • ✖ Mobile service</span>
            </div>
        </div>
        <div class="footer-brand">
            <p>
                &copy; {new Date().getFullYear()} Bare Form by sh. Todos los derechos
                reservados.
            </p>
        </div>
    </div>
</footer>
