---
import { Image } from 'astro:assets';


---


<nav class="header">
  <div class="container">
    <a href="/" class="logo">
    	<Image src="/logo.jpg" alt="Beauty SH Logo" width={50} height={50} />
  	</a>
	</div>
</nav>
