---
import { Image } from 'astro:assets';


---


  <nav class="nav-bar
  ">
    <a href="/" class="logo-link">
      <img src="/logo.svg" alt="Logo" width="50" height="50">
    </a>
    <div class="nav-center">
      <a href="/gallery" class="gallery-link">Gallery</a>
      <a href="/services" class="services-link">Services</a>
    </div>
  </nav>
