---
import "../styles/components/picture-card.css";
interface Props {
  src: string;
  alt: string;
}

const { src, alt } = Astro.props;
---

<div class="picture-card-wrapper">
  <div class="skeleton-loader"></div>
  <div class="picture-card" onclick="this.classList.toggle('expanded')">
    <img
      src={src}
      alt={alt}
      width="800"
      height="800"
      loading="lazy"
      decoding="async"
      class="gallery-image"
    />
    <div class="image-overlay">
      <span class="zoom-icon">🔍</span>
    </div>
  </div>
</div>