---
import PictureCard from "./PictureCard.astro"
const picturesImported = import.meta.glob('../assets/grid_images/*.jpeg', { eager: true }) as Record<string, { default: any }>;
const images = Object.values(picturesImported);

---
<div class="pictures-grid">
    
	{images.map((image) => 
		<PictureCard src={image.default} alt="A beautiful picture"></PictureCard>
	)}
</div>