---
import PictureCard from "./PictureCard.astro";
import "../styles/components/pictures-grid.css";
const picturesImported = import.meta.glob("../assets/grid_gallery/*.jpeg", {
	eager: true,
}) as Record<string, { default: any }>;
const images = Object.values(picturesImported);
---

<div class="gallery-wrapper">
	<div class="pictures-grid">
		{
			images.map((image) => (
				<PictureCard src={image.default} alt="Bare Form Nail Art" />
			))
		}
	</div>
</div>
