---
import Header from '../components/Header.astro';

import '../styles/styles.css';
interface Props {
	backgroundImage?: string;
}
const { backgroundImage } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Beauty SH</title>
	</head>
	<Header></Header>
	<body class="layout" style={backgroundImage ? `--bg-image: url(${backgroundImage})` : ''}>
		<main class="content">
			<slot />
		</main>
	</body>
</html>

